{{#each products}}
  <h1>{{this.title}}</h1>
  <p>{{this.description}}</p>
  <p>${{this.price}}</p>
  <p>category: {{this.category}}</p>
  <p>{{this.thumbnail}}</p>
  <p>code: {{this.code}}</p>
  <p>stock: {{this.stock}}</p>
  <p>id: {{this.id}}</p>
{{/each}}

<script src="/js/index.js"></script>